<% include head %>
<%
// TODO: why can't we see the variable "users" from here?
function find_user(u, userid) {
  for (var i = 0; i < u.length; i++) {
    if (u[i].rowid == userid)
      return u[i];
  }
  return null;
}
%>
<h2>Projects</h2>
<form action="/add_project" method="post">
  URL: <input name="url" type="text">
  <button type="submit">Add project</button>
</form>
<ul>
<%
  var prev_project_id = null;
  for (var i = 0; i < projects.length; i++) {
  var project = projects[i];
  %>
    <% if (project.rowid != prev_project_id) { %>
      </ul>
      <a href="<%= project.url %>"><%= project.url %></a>
      <ul>
        <li>
          <form action="/add_contributor/<%= project.rowid %>" method="post">
            <input name="email" type="text">
            <button type="submit">Add contributor</button>
          </form>
        </li>
    <% } %>
  <% if (project.contributor != null) { %>
        <li>
          <%= project.contributor %> --
          <%= find_user(users, project.contributor).email %> |
          <%= project.quantity / 10000000 %>%
          owned by <%= find_user(users, project.owner).email %> |
          <% if (project.owner == user.rowid) { %>
            <a href="/sell/<%= project.ownershipid%>">Sell</a>
          <% } else { %>
            <a href="/buy/<%= project.ownershipid%>">Buy</a>
          <% } %>
        </li>
  <% }
  prev_project_id = project.rowid;
  %>
<% } %>
</ul>
<% include foot %>
